/* CSS declarations go here */

h1 {
  color: orange;
  text-align: center;
}

p {
  margin: 5px;
}

.Nonbuttons{
  padding: 5px;
  margin: 1px;
  font-size: 32px;
}

#Result{
  background-color: green;
  color: white;
}

#Question{
  background-color: yellow;
  color: black;
}

#Buttons{
  display:flex;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  padding: 20px;
}

#Buttons div{
  font-size: 22px;
  padding: 15px 5px;
  margin-right: 5px;
  cursor: pointer;
  flex: 1 100%;
}

.button-color-1{
  background-color: red;
}

.button-color-2{
  background-color: green;
}

.button-color-3{
  background-color: blue;
}

.step2button,.step3button{
  background-color: yellow;
}

.punt{
  background-color: white;
}

.chart-visible {
  height: 500px;
  padding-bottom: 200px;
  padding-top: 20px;
  background-color: white;
}

.chart-visible p:first-of-type {
  color: pink;
}

.chart-visible p:last-of-type {
  color: red;
}
